.container{
 align-items: center;
padding: 100px;
border: 10px solid black;
margin-top: 100px;
}
div{
   background-color:  rgb(193, 192, 219);
   color: rgb(192, 186, 14);
    padding: 100px;
    border-radius: 50px;
}
#span{
    color:black;
    background-color: rgb(198, 140, 184);
    font-size: 50px ;
    border-radius: 50px;
}
img{
    background-color: aquamarine;
    padding: 10px;
}